<!DOCTYPE html5>
<html>
        <head>
                <title>{{ page.title }}</title>
                <!-- link to main stylesheet -->
                <link rel="stylesheet" type="text/css" href="/css/main.css"
                <meta charset="UTF-8">
                 <meta name="description" content="Simple website example">
                <meta name="keywords" content="HTML,CSS">
                <meta name="author" content="Brandon">  
                <meta name="viewport" content="width=device-width, initial-scale=1.0">      
        </head>
        <body>
                <nav>
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                </ul>
                </nav>
                <div class="container">
                
                {{ content }}
  
                </div><!-- /.container -->
                <footer>
                <ul>
                        <li><a href="mailto:alladuodecima1080@gmail.com">email</a></li>
                        </ul>
                </footer>
        </body>
</html>
